.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.container h1 {
    padding-bottom: 10px;
}

.grup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}